body{
    background-color: black;
}

.card{
    width: 400px;
    height: 200px;
    padding: 1px 20px; 
    background: url('../assets/backgorund.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.instagram{
    list-style-image: url('../assets/Insta.png');
}

.YouTube{
    list-style-image: url('../assets/Youtube.png');
}

.twitter{
    list-style-image: url('../assets/Twitter.png');
}